<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listagem de usuários utilizando o Spring Boot</title>
</head>

<body>
<h1>Lista de usuários</h1>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${usuarios}">
        <td th:text="${user.contato.id}"></td>
        <td th:text="${user.nome}"></td>
        <td th:text="${user.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>